<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <h1>Hloo world</h1>
        <p>This is a very basic project in which we can add contact details of someone at url '/abc'</p>
        <a href="/abc">click here</a> to go to that page and add contacts to your list
    </body>
</html>